div.cuaderno a:after{
    content:url('imagenes/link.png');
    padding-left:1em;
}

div.bloqueexplicacion > ol {
    border: dotted 0.1em black;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion > ul {
    border: dashed 0.1em blue;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion dd {
    border: dotted 0.1em black;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: #ffd6d6;
}
body{
 background-color: rgb(211,211,211);
 font-family: Arial, Helvetica, sans-serif;   
}
h1{
    background-color: rgb(0, 0, 128);
    color: white;
}
.lateral{
    float: left;
    background-color: rgb(0, 0, 128);
    width: 16em;
    font-size: smaller;
}
.logo img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 6em;
}
.logo{
    background-color: white;
    width: 16em;

}
.central{
    background-color: rgb(224, 255, 255);
    border-color: red;
    border-style: double;
    margin-left: 14em;
    background-image: url("./imagenes/construccion.png"), url("./imagenes/construccion.png");
    background-repeat: no-repeat,no-repeat;
    background-position: 10em,30em;
    /* background-attachment: inherit; */
    /* falta resolver que el background image no sea fijo sino que se mueva centrado y alineado con el texto */

}

.tituloaviso{
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 4.5em;
}
.cuerpoaviso{
    text-align:center;
}
.pie{
    bottom: 0.5em;
    position: fixed;
    width: 100%;
    text-align: right;
    background-color:rgb(0, 0, 128);
    color: rgb(248, 248, 38);
    font-size: smaller;
}
.cabecera{
    text-align: center;
    font-size: small;
}
.lateral{
    color: rgb(248, 248, 38);
}