/* esta es una regla donde el selector tiene varios elementos, aplicaria para
table, luego para table y si dejo un espacio de separacion esto significa que se aplica para las th dentro tr dentro de table
y para las td dentro de tr dentro de table, asi evito tener que hacer varias reglas */
table, table tr td, table tr th {
    border: 1px solid #ffffff;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}

th {
    background-color: #838383;
    color: white;
  }
.daw {
    background-color: #9aebe0;
} 
.diw {
    background-color: #fcc7c7;
}
.hlc {
    background-color: #b6e6bd;
}
.recreo {
    background-color: rgb(233, 233, 233);
}
.dwes {
    background-color: rgb(251, 253, 113);
}
.eie {
    background-color: rgb(130, 209, 255);
}
.dwec {
    background-color: rgb(95, 165, 230);
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }


/* Aqui añado los span */

#EIE{
    color: black;
    background-color: rgb(130, 209, 255);
}
#DAW{
    color: black;
    background-color: #9aebe0;
}
#DIW{
    color: black;
    background-color: #fcc7c7;
}
#HLC{
    color: black;
    background-color: #b6e6bd;
}
#DWES{
    color: black;
    background-color: rgb(251, 253, 113);
}
#DWEC{
    color: black;
    background-color: rgb(95, 165, 230);
}
/* Esta es la regla para cambiar el color de fonde de un elemento al pasar el raton por otro distinto, tienen que ser elementos hermanos, entonces para ello hay que refernciar al elemento hermano del span que seria la tabla, por eso hay que poner table tr td.eie es decir primero la tabla luegoel tr y luego el td.nombreClase */

#EIE:hover ~ table tr td.eie, #EIE:hover{
    background-color: rgb(255, 127, 39);
    transition: all 1s;
}
#DAW:hover ~ table tr td.daw, #DAW:hover{
    background-color: rgb(255, 127, 39);
    transition: all 1s;
}
#DIW:hover ~ table tr td.diw, #DIW:hover{
    background-color: rgb(255, 127, 39);
    transition: all 1s;
}
#HLC:hover ~ table tr td.hlc, #HLC:hover{
    background-color: rgb(255, 127, 39);
    transition: all 1s;
}
#DWES:hover ~ table tr td.dwes, #DWES:hover{
    background-color: rgb(255, 127, 39);
    transition: all 1s;
}
#DWEC:hover ~ table tr td.dwec, #DWEC:hover{
    background-color: rgb(255, 127, 39);
    transition: all 1s;
}

/*Aqui adicionalmente he añadido dos efectos, el primero hace q al pasar el puntero sobre la asignatura cambie de color, el otro es una transición para que cambie de color progresivamente y no de golpe*/     
td:hover {
    background-color: white;
    transition: all 1s; 
}